{% extends "base.html" %}

{% block title %}Página de Empresas - Greenplace{% endblock %}

{% block content %}
<section class="info-empresa">
    <div class="info-principal">
        <h3>Painel de Monitoramento para Empresas</h3>
        <p>Seja bem-vindo(a) ao painel de monitoramento para empresas. Aqui você pode visualizar
            os dados de seus clientes e a quantidade de carbono emitida por eles.
        </p>
    </div>
    <div class="tabela-container">
        <table class="tabela-dados" id="empresas-table">
            <thead>
                <tr>
                    <th>Data de Resposta</th>
                    <th>Faixa Etária</th>
                    <th>Gênero</th>
                    <th>Renda Mensal</th>
                    <th>Estado</th>
                    <th>Emissão de Carbono</th>
                    <th>Pontuação</th>
                </tr>
            </thead>
            <tbody>
                <!-- {# A lógica será usada quando passar os dados via Flask
                talvez até dê pra tirar esse comentário dps #} -->
                {% if respostas %}
                {% for resposta in respostas %}
                <tr>
                    <td>{{ resposta['Data'] }}</td>
                    <td>{{ resposta['Idade'] }}</td> 
                    <td>{{ resposta['Gênero'] }}</td>
                    <td>{{ resposta['Renda'] }}</td> 
                    <td>{{ resposta['Estado'] }}</td> 
                    <td>{{ resposta['Emissão de Carbono'] }}</td>
                    <td>{{ resposta['Pontuação'] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="tabela-vazia">Nenhuma resposta encontrada</td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
    <div class="acoes-empresas">
        <a href="{{ url_for('empresa.baixar_dados') }}" class="botao-download">
            Gerar Tabela (PDF)
        </a>
    </div>
</section>
{% endblock %}
